<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Collection:</h3>

    <form class="form new-collection-form">
      <div class="form-group">
        <label for="collection-name">Collection name:</label>
        <input class="form-input" type="text" id="collection-name" name="collection-name" />
      </div>
      <div class="form-group">
        <label for="collection-desc">Description:</label>
        <textarea class="form-input" id="collection-desc" name="collection-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>

  {{#if collections.length}}
  <div class="col-md-6 collection-list">
    <h3>Saved Collections:</h3>

    {{#each collections as |collection|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a class="tooltip top" title="Click me" href="/collection/{{collection.id}}">{{collection.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{collection.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>